<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<style>

body{
  background: linear-gradient(grey, black);

}


.encryption_selection{
  padding-left: 7%;
  display: inline;
  }

.encryption_selection p{
  /* position: absolute; */
  left: 10%;
  display: inline;
}

.key-pair{
  position: absolute;
  right: 10%;
  display: inline;
}

.tool_button{
  background: orange;
}

#inbox{
  background: orange;
  padding: 5px;
  color: black;
}

#compose_message{
  display: none;
  margin: 5px;
}

#priv_chat_request{
  display: none;
  margin: 5px;
}

#tools{
  background: orange;
  /* font-size: 10px; */
  color: black;
  border: solid;
  border-bottom: 0px;
}

#message_id {
  display: none;
}

.chart-container{
  width: 400px;
  height: 400px;
  color: white;
}

.line-container{
  width: 400px;
  height: 400px;
  color: white;
}

#myLeaderBoard {
  color:orange;
  font-size: 20px;
}

#myLeaderBoard a{
  color:orange;
  font-size:15px;
}
#title{
  /* color:white; */
  background: orange;
  padding: 5px;
}
  #messages_container {
    border: solid;
    padding: 5px;
    height: 80vh;
    overflow-x:scroll;
    overflow-y:scroll;
    background: linear-gradient(lightgrey, orange);
  }

.message{
   float:left;
}

  .navbar {
      padding-left: 55px;
      margin-bottom: 0px;
      border-radius: 0px;
      border: 10px solid transparent;
      background-color: orange;
      overflow: hidden;
      position: fixed;
      bottom: 0;
      width: 100%;

  }

  .btn {
      color: black; /* Add a text color */
      padding: 14px 28px; /* Add some padding */
      cursor: pointer; /* Add a pointer cursor on mouse-over */
  }

  .success {background-color: orange;} /* Green */
  .success:hover {background-color: #46a049;}

  .info {background-color: orange} /* Blue */
  .info:hover {background: #0b7dda;}

  .warning {background-color: orange;} /* Orange */
  .warning:hover {background: #e68a00;}

  .danger {background-color: orange;} /* Red */
  .danger:hover {background: #da190b;}

  .default {background-color: orange;} /* Gray */
  .default:hover {background: #ddd;}


#chat-message-input{
  width:10%;
}

#chat-message-input2{
  width:80%;
}

#chat-message-submit{
  background-color: light-green;
}

</style>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
