{% extends "users/base.html" %} {% block content %}

<div class='container'>
    <h1><span id="title">Encrypted Chat Rooms</span></h1>
    <br/>
    <br/>

    <a href="{% url 'users:login' %}"><button class="btn success">Login</button></a>
    <a href="{% url 'users:signup' %}"><button class="btn info">Signup</button></a>
    <a href="{% url 'users:signup' %}"><button class="btn danger">Info</button></a>



  <h3><span id="title">Popular rooms ATM</span></h3>

  <li><a href="">1</a></li>
  <li><a href="">1</a></li>
  <li><a href="">1</a></li>
  <li><a href="">1</a></li>
  <li><a href="">1</a></li>

  </br>
  <br>
  <br>

</div>
<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/' + roomName + '/';
    };
</script>

{% endblock content %}
