{% extends "users/base.html" %} {% block content %}


<div class="container">

	<h2 class="clear_title">Login</h2>
	<div>

	<div class="container">
			<form method="POST" action="{% url 'users:login' %}" style="color:grey">
				{% csrf_token %} {{ form|linebreaks }}
				<input class="btn btn-primary" type="submit" value="Log in" />

			</form>
			<a href='{% url 'users:signup' %}'>Sign up</a>
		</div>
	<br></br>
</div>
</div>

{% endblock %}
