<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8"/>
<title>Chat Room</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
body {margin:0;}

.navbar {
    padding-left: 55px;
    background-color: orange;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#messages_container {
  border: solid;
  padding: 5px;
  height: 600px;
  overflow: scroll;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}

#chat-message-input{
  width:20%;
}

#chat-message-input2{
  width:50%;
}
#chat-message-submit{
  background-color: light-green;
}
</style>
</head>
<body>

<div class="navbar">
  <input id="chat-message-input" type="text" size="100" value="username"/>
  <input id="chat-message-input2" type="text" size="100" value="message" />
  <input id="chat-message-submit" type="button" value="Send"/>
  <label class="checkbox-inline"><input type="radio" value="" name="logo"> <span class="glyphicon glyphicon-print"></span></label>
  <label class="checkbox-inline"><input type="radio" value="" name="logo"> <span class="glyphicon glyphicon-print"></span></label>
  <label class="checkbox-inline"><input type="radio" value="" name="logo"> <span class="glyphicon glyphicon-print"></span></label>

</div>

<div class="container">
  <h1 id="title"></h1>
</div>

<div class="container" id="messages_container">

  <div class="media" id="message0">
    <div class="media-left">
      <span class="glyphicon glyphicon-print"></span>
    </div>
    <div class="media-body">
      <h4 class="media-heading" id="username">John Doe</h4>
      <p id="message">Lorem ipsum...</p>
    </div>
  </div>
</div>



</body>

<script>
    var roomName = {{ room_name_json }};
    document.getElementById("title").innerHTML = roomName;





    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var new_message_1 =  '<div class="media"><div class="media-left"><span class="glyphicon glyphicon-print"></span></div>';
        var new_message_2 =  '<div class="media-body"><h4 class="media-heading" id="username_">';
        var username = data['message'];
        var new_message_3 =  '';
        var new_message_4 =  "</h4><p>";
        var message = data['message2'];
        var new_message_5 =  '</p></div>';
        var new_message = new_message_1 + new_message_2 + username + new_message_3 + new_message_4 + message + new_message_5
        $("#messages_container").append(new_message);
        updateScroll();

    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input2').focus();
    document.querySelector('#chat-message-input2').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        var messageInputDom2 = document.querySelector('#chat-message-input2');
        var message2 = messageInputDom2.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'message2': message2
        }));

        messageInputDom2.value = '';
    };

    function updateScroll(){
      var out = document.getElementById("messages_container");

      var isScrolledToBottom = out.scrollHeight - out.clientHeight <= out.scrollTop + 100;
      console.log(out.scrollHeight - out.clientHeight,  out.scrollTop + 100);
      if(isScrolledToBottom)
          out.scrollTop = out.scrollHeight - out.clientHeight;
      }
</script>
</html>
