{% extends "users/base.html" %} {% block content %}

<div class='container'>
    <h2><span id="title">Your Inbox</span> <a href="../" class="pull-right" id="inbox">Dash</a></h2>
    <br/>
    <br/>

</div>

<div class="container" id="tools">
  <input type="button" class="tool_button" id="compose_button" value="Compose"/>
  <input type="button" class="tool_button" id="priv_chat_button" value="Private Chat"/>
  <input type="button" class="tool_button" id="delete_all_button" value="Delete All"/>
  <div id="compose_message">
    <input id="new_to_b" type="text" size="10" placeholder="User"/>
    <input id="new_message" type="text" size="100" value="" placeholder="Message" />
    <input id="new_submit" type="button" value="Send"/>
  </div>
  <div id="priv_chat_request">
    <input id="priv_chat_to_b" type="text" size="10" placeholder="User"/>
    <input id="priv_chat_submit" type="button" value="Send"/>
  </div>
</div>
<div class="container" id="messages_container">
  {% for message in messages %}
  {% if not message.read %}
  <div class="media">
    <hr>
    <div class="media-left media-top">
      <a href="#" class="read_button"><span class="glyphicon glyphicon-trash"></span></a><a class="private_chat_request_button"><span class="glyphicon glyphicon-comment"></span></a>
    </div>
    <div class="media-body">
      <h4 class="media-heading" id="from_a">{{ message.from_a }}</h4>
      <p>{{ message.message }} <small>{{ message.time }}</small></p><p id="message_id"> {{ message.id }} </p>
      <input id="reply-message" type="text" size="100" placeholder="Reply" />
      <input id="reply-submit" type="button" value="Send"/>
    </div>
  </div>
  {% endif %}
  {% endfor messages %}


</div>

<br></br>
<br></br>
<script>
var chatSocket = new WebSocket(
    'ws://' + window.location.host +
    '/ws/inbox/');


chatSocket.onmessage = function(e) {
  var data = JSON.parse(e.data);
  console.log(data);
  if (data.content == 'private_chat_request'){
    var n1 = '<div class="media"><hr><div class="media-left media-top"><a href="#" class="remove_button"><span class="glyphicon glyphicon-trash"></span></a></div><div class="media-body"><h4 class="media-heading" id="from_a">'
    var n2 = data.from_a + '</h4><a class="priv_link" href="../private/' + data.link + '/">' + data.link + '</a> <small>' + data.time + '</small></p><p id="message_id">' + data.id + '</p>'
    var n3 = '</div></div>'
    var new_message = n1 + n2 + n3;
    $("#messages_container").prepend(new_message);
  }
  if (data.content == 'visited_private_room'){
    var n1 = '<div class="media"><hr><div class="media-left media-top"><a href="#" class="read_button"><span class="glyphicon glyphicon-trash"></span></a></div><div class="media-body"><h4 class="media-heading" id="from_a">'
    var n2 = data.from_a + ' joined</h4><a class="priv_link" href="../private/' + data.link + '/">' + data.link + '</a> <small>' + data.time + '</small></p>'
    var n3 = '</div></div>'
    var new_message = n1 + n2 + n3;
    $("#messages_container").prepend(new_message);
  }
  if (data.content == 'inbox_message'){
    var n1 = '<div class="media"><hr><div class="media-left media-top"><a href="#" class="read_button"><span class="glyphicon glyphicon-trash"></span><a href="#" class="read_button"></a><a class="private_chat_request_button"><span class="glyphicon glyphicon-comment"></span></a></div><div class="media-body"><h4 class="media-heading" id="from_a">'
    var n2 = data.from_a + '</h4><p>' + data.message + ' <small>' + data.time + '</small></p><p id="message_id">' + data.id + '</p>'
    var n3 = '<input id="reply-message" type="text" size="100" placeholder="Reply" /><input id="reply-submit" type="button" value="Send"/></div></div>'
    var new_message = n1 + n2 + n3;
    $("#messages_container").prepend(new_message);
  }
}

chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};


$("#messages_container").on("click", "#reply-submit", function() {
  var to_b = $(this).siblings("#from_a").html();
  console.log(to_b);
  var message = $(this).siblings("#reply-message").val();
  console.log(message);

  chatSocket.send(JSON.stringify({
      'content': 'send_message',
      'from_a': '{{ user.username }}',
      'to_b': to_b,
      'message': message,
  }));

  $(this).siblings("#reply-message").val('');
})


$("#messages_container").on("click", ".priv_link", function() {
  var to_b = $(this).siblings("#from_a").html();
  var link = $(this).html();
  console.log(to_b);

  chatSocket.send(JSON.stringify({
      'content': 'visted_private_room',
      'from_a': '{{ user.username }}',
      'to_b': to_b,
      'link': link,
    }));

});




$("#messages_container").on("click", ".read_button", function() {
  var id = $(this).parents("div.media").children("div.media-body").children("#message_id").html();
  chatSocket.send(JSON.stringify({
      'content': 'read_message',
      'id': id,
  }));
  $(this).parents("div.media").remove();
});

$("#delete_all_button").click(function(){
  var to_delete = $(".read_button");
  console.log(to_delete);
  for (i=0; i<to_delete.length; i++){
    var id = $(to_delete[i]).parents("div.media").children("div.media-body").children("#message_id").html();
    console.log(id);
    chatSocket.send(JSON.stringify({
        'content': 'read_message',
        'id': id,
    }));
    $(to_delete[i]).parents("div.media").remove();
  }
});

$("#compose_button").click(function(){
  $("#compose_message").toggle();
});

$("#priv_chat_button").click(function(){
  $("#priv_chat_request").toggle();
});

$("#new_submit").click(function(){
  var to_b = $("#new_to_b").val();
  console.log(to_b);
  var message = $("#new_message").val();
  console.log(message);

  chatSocket.send(JSON.stringify({
      'content': 'send_message',
      'from_a': '{{ user.username }}',
      'to_b': to_b,
      'message': message,
    }));

    $("#new_to_b").val('');
    $("#new_message").val('');
    $("#compose_message").toggle();
});


$("#priv_chat_submit").click(function(){
  var to_b = $("#priv_chat_to_b").val();
  console.log(to_b);

  chatSocket.send(JSON.stringify({
      'content': 'create_private_room',
      'from_a': '{{ user.username }}',
      'to_b': to_b,
    }));

    $("#priv_to_b").val('');
    $("#priv_chat_request").toggle();
});

$("#messages_container").on("click", ".private_chat_request_button", function() {
  var to_b = $(this).parents(".media").children(".media-body").children(".media-heading").html()
  console.log(to_b);

  chatSocket.send(JSON.stringify({
      'content': 'create_private_room',
      'from_a': '{{ user.username }}',
      'to_b': to_b,
    }));

    $("#priv_to_b").val('');
    // $("#priv_chat_request").toggle();
});



</script>

{% endblock content %}
