{% extends "users/base.html" %} {% block content %}

<div class='container'>
    <h2><span id="title">What chat room would you like to enter?</span><a href="inbox/" class="pull-right" id="inbox">Inbox</a></h2>

    <br/>
    <br/>

    <input id="room-name-input" type="text" size="100"/>
    <input id="room-name-submit" type="button" value="Enter"/>

<br></br>
  <div class="row">
    <div class="col-sm-6">
        <h3><span id="title">Popular rooms</span></h3>
      <br></br>
    <ol id="myLeaderBoard">

      </ol>
    <div class="chart-container">
      <canvas id="myLineGraph" width="100px" height="100px"></canvas>
    </div>
  </div>

  <div class="col-sm-6">
    <br></br><br></br>
      <br></br><br></br>
        <br></br><br></br>
    <div class="line-container">
      <canvas id="myPieChart" width="100px" height="100px"></canvas>
    </div>
    <br></br><br></br>

  </div>

  </div>
</div>
  <br></br><br></br>
    <br></br><br></br>
      <br></br><br></br>

<script>

$(document).ready(function(){
  $.get({
    url: 'ajax/leader_board/',
    dataType: 'json',
    success: function(data) {
      updatePieChart(data.labels, data.data);
      updateLeaderBoard(data.labels);
    }
  });

});


    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/' + roomName + '/';
    };


    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        console.log(data)
        updatePieChart(data.labels, data.data);
        updateLeaderBoard(data.labels);



    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

function updateLeaderBoard(labels_new){
  var myLeaderBoard = $("#myLeaderBoard");
  var items = myLeaderBoard.find("li").detach();
  for(i=0; i<labels_new.length; i++){
    $("#myLeaderBoard").append("<li><a href='" + labels_new[i] + "/'>" + labels_new[i] + "</a></li>");
  };

};

var ctx = document.getElementById("myPieChart").getContext('2d');
function updatePieChart(labels_new, data_new){
    var myPieChart = new Chart(ctx,{
      type: 'pie',
      data: {
        labels: labels_new,
        datasets: [{
            data: data_new,
            backgroundColor: [
               'red',
               'yellow',
               'blue'
             ],
        }],
      },
      options: {
    legend: {
        display: true,
        labels: {
            fontColor: 'white'
        }
    },
    'onClick' : function (evt, item) {
      var label = item[0]._view.label;
      // console.log(label);
      get_time_series(label);
   }
}

  });
};

function get_time_series(label){
  $.get({
    url: 'ajax/time_series/',
    data: {
      'label': label,
    },
    dataType: 'json',
    success: function(data) {
      updateLineGraph(data);
    }
  });
}

var ctx2 = document.getElementById("myLineGraph").getContext('2d');
function updateLineGraph(data_new){
    console.log(data_new.data);
    var myPieChart = new Chart(ctx2,{
      type: 'line',
      labels: data_new.data,
      data: {
          datasets: [{
              label: data_new.room,
              // label: 'graph',
              data: data_new.data,
              // data: data_new,
              backgroundColor: 'orange',
              lineTension: 0,
              pointRadius: 1,
          }]
      },


      options: {
        gridLines: {
          color: 'orange',
          fontColor: 'white',
        },
        legend: {
            display: true,
            labels: {
                fontColor: 'white'
            }
        },
        scales:{
    			xAxes:[{
    				type:"time",
            time: {
                unit: 'second'
            },
            fontColor: 'white',

    			}],
    		},


},



  });



};







</script>

{% endblock content %}
