{% extends "users/base.html" %} {% block content %}

  <div class="navbar">
    <input id="chat-message-input" type="text" size="100" value="{{ user.username }}"/>
    <input id="chat-message-input2" type="text" size="100" value="" placeholder="Message" />

    <input id="chat-message-submit" type="button" value="Send"/>
    <br>
    <label class="checkbox-inline"><input type="radio" value="glyphicon glyphicon-print" name="logo" checked="checked" > <span class="glyphicon glyphicon-print"></span></label>
    <label class="checkbox-inline"><input type="radio" value="glyphicon glyphicon-search" name="logo"> <span class="glyphicon glyphicon-search"></span></label>
    <label class="checkbox-inline"><input type="radio" value="glyphicon glyphicon-envelope" name="logo"> <span class="glyphicon glyphicon-envelope"></span></label>
    <input id="n" type="text" size="20" value="n"/>
    <input id="e" type="text" size="20" value="e"/>
    <input id="encrypt" type="button" value="Encrypt"/>
    <!-- <input id="decrypt" type="button" value="Decrypt"/> -->

    <input id="generate_key" type="button" value="Generate New Key"/>
    <input id="user-n" size="5" value="n"/>
    <input id="user-e" size="5" value="e"/>
    <input id="user-d" size="5" value="d"/>
    <input id="user-p" size="5" value="p"/>
    <input id="user-q" size="5" value="q"/>
    <input id="user-u" size="5" value="u"/>
  </div>
  {% load staticfiles %}
<audio id="message_tone">
  <source type="audio/mpeg" src="{% static "sounds/message_tone.mp3" %}">
  </audio>

{% load staticfiles %}
  <div class="container">
    <h1><span id="title"></span> <span id="pop"></span><a href="../" class="pull-right" id="inbox">Dash</a></h1>
  </div>

  <div class="container" id="messages_container">






</div>



<br></br>

<br></br>



<script>
    var roomName = {{ room_name_json }};
    document.getElementById("title").innerHTML = "Room: " +  roomName;





    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        console.log(e.data);
        if (data.content == 'chat_message'){
          var new_message_1 =  '<div class="media message"><div class="media-left"><span class="'
          var logo = data['logo'];
          var new_message_2 = '"></span></div>';
          var new_message_3 =  '<div class="media-body"><h4 class="media-heading" style="display:inline">';
          var username = data['message'];
          var new_message_4 =  "<small> @" + data['time'] + '</small></h4><small> <input id="grab_n" type="button" value="' + data['n'] + '" style="display:none"/>';
          var new_message_5 = '<input id="grab_e" type="button" value="' + data['e'] + '" style="display:none"/><input id="grab_public_key" value="Grab PubKey" type="button"/><input id="decrypt" type="button" value="Decrypt"/></small><p id="message">'
          var message = data['message2'] + '</p></div></div>';
          var new_message = new_message_1 + logo + new_message_2 + new_message_3 + username + new_message_4 + new_message_5  + message;
          $("#messages_container").append(new_message);
          console.log("message sent");
          updateScroll();
        }
       if (data.content == 'pop_message'){
         $("#pop").html(data.population + " online");


       }
       // console.log(data);
       $("#message_tone")[0].play();

    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input2').focus();
    document.querySelector('#chat-message-input2').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        var messageInputDom2 = document.querySelector('#chat-message-input2');
        var message2 = messageInputDom2.value;
        var logo = $('input[name="logo"]:checked').val();
        var n =  document.querySelector('#user-n').value;
        var e =  document.querySelector('#user-e').value;
        // var pk = $
        chatSocket.send(JSON.stringify({
            'message': message,
            'message2': message2,
            'logo': logo,
            'n': n,
            'e': e,
        }));

        messageInputDom2.value = '';
    };

    function updateScroll(){
      var out = document.getElementById("messages_container");

      var isScrolledToBottom = out.scrollHeight - out.clientHeight <= out.scrollTop + 100;
      console.log(out.scrollHeight - out.clientHeight,  out.scrollTop + 100);
      if(isScrolledToBottom){
          out.scrollTop = out.scrollHeight - out.clientHeight;
        };
    };


    $("#encrypt").click(function() {
        var n = $('#n').val();
        var e = $('#e').val();
        var message = $('#chat-message-input2').val();

        $.post({
          url: '../ajax/encrypt/',
          data: {
            'n': n,
            'e': e,
            'message': message,
            csrfmiddlewaretoken: '{{ csrf_token }}',
          },
          dataType: 'json',
          success: function(data) {
            $('#chat-message-input2').val(data.encrypted_message);
          }
        });

      });


    $("#messages_container").on("click", "#decrypt", function() {
          var n = $('#user-n').val();
          var e = $('#user-e').val();
          var d = $('#user-d').val();
          var p = $('#user-p').val();
          var q = $('#user-q').val();
          var u = $('#user-u').val();
          var encrypted_message = $(this).parent().siblings("#message");
          var encrypted_message_data = encrypted_message.html();


          $.post({
            url: '../ajax/decrypt/',
            data: {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              'n': n,
              'e': e,
              'd': d,
              'p': p,
              'q': q,
              'u': u,
              'encrypted_message': encrypted_message_data,

            },
            dataType: 'json',
            success: function(data) {
              // alert(data.decrypted_message);
              encrypted_message.html(data.decrypted_message);
            }
          });

        });

        $("#generate_key").click(function() {
            $.post({
              url: '../ajax/key_gen/',
              data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
              },
              dataType: 'json',
              success: function(data) {
                document.querySelector('#user-n').value = data.n;
                document.querySelector('#user-e').value = data.e;
                document.querySelector('#user-d').value = data.d;
                document.querySelector('#user-p').value = data.p;
                document.querySelector('#user-q').value = data.q;
                document.querySelector('#user-u').value = data.u;
              }
            });

          });



      $("#messages_container").on("click", "#grab_public_key", function() {
        var e = $(this).siblings('#grab_e').val();
        var n = $(this).siblings('#grab_n').val();
        // alert(e);
        $("#e").val(e);
        $("#n").val(n);
      });






</script>
{% endblock content %}
